@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: Georgia, serif;

}
.contact{
  margin-left: 560px;
  margin-top: 40px;
  margin-bottom: 40px;

}
.description{
  
  margin: 0 auto; 
  text-align: justify; 
  word-wrap: break-word;
  overflow-wrap: anywhere;
 }
 .badge{
  overflow: auto;

 }
 .profilebadge{
  margin-bottom: 20px;
 
 }


 




@media only screen and (max-width: 400px) {
    body {
       
        font-size: 35px;
      }
      .nav-header{
        width: 1000px;
       
      }
      .navlink{
       
        margin-left: 50px;
        
      }
      .navlinks{
        margin-left: 50px;
      }  
      .textlogo{
        margin-left: 50px;
        font-size: 35px;
      }
      .login{
        width:850px;
        margin-left: 80px;
        margin-top: 90px;
        font-size: 40px;
      }
      .userlogin{
        font-size: 25px;
      }
      .authtext{
        font-size: 25px;
      }
      .auth-button{
       font-size: 25px;
      }
      .input-text{
        font-size: 25px;
        height: 8vh;

      }
      .signup{
        width: 825px;
        margin-top: 50px;
      margin-left: 32px;
      font-size: large;
      }
      .login-sinup-button{
        margin-right: 15px;
        
      }
      .login-text{
        font-size: 16px;
     
      }
    
    .herosection{
       width: 800px;
       margin-left: 100px;
  
    font-size:medium;
    }
    .herosection p{
        font-size: 20px;
    }
    .category-carousel{
      width: 800px;
      margin-left: 100px;

    }
    .latest-job{
      width: 800px;
      margin-left: 100px;
    }
    .latestjob-badge{
      width: 600px;
      height: 7vh;
      font-size: 22px;
      margin-left: 30px;
      text-align: center;
      padding-left: 10px;
    }
    .counter{
      width: 1000px;
    }
    .Footers{
      position:relative;
      width: 1000px;
      text-align: center;
      justify-content: center;
      font-size: 20px;
    }
    .follow{
      margin-left: 420px;
    }
 
  .social-link {
    margin-left: 165px;
    
  }
 .profile{
 width: 1000px;
  
 }
 .navprofile{
  width: 700px;
   }
   .view{
    font-size: 25px;
    
   }
 .profileFooter{
  position: fixed;
  bottom: 0;
 }
 .badge{
  overflow-y: scroll;

 }
 .profilebadge{
  margin-left:20px;
  font-size:30px;
  background-color: black;
  color: white;
  height: 7vh;
  
 }
 .resume{
  width: 900px;
 }
 .appliedtable{
  margin-top: 100px;
  height: 70vh;
 }
 .browser{
  width: 1000px;
 }
 .help{

  width: 1000px;
 }
 .about{
width:1000px;

 }
 .service{
  width: 900px;
  
 }
 .contact{
  width: 900px;
  margin-left: 55px;
  margin-top: 200px;
 }
 .contactFooters{
  display: none;
 }
 .blog{
  width: 900px;
  margin-left: 25px;

 }
 .termofservices{
  width: 900px;
  margin-left: 35px;
 }
 .privacy{
  width: 900px;
  margin-left: 35px;
 }
 .jobs{
  width: 1000px;
 
  
 }
 .jobpverflow{
  height: 170vh;
 }
 .jobFooter{
  position: fixed;
  bottom: 0;
 }

.jobdescriptions{
  width: 1000px;
  
}
 .decriptionbutton{
  position:static;   
}
.jobdescripton{
  display: none;
}
.company{
  width: 980px;
}
.createcomapny{
  width: 900px;
  margin-top: -80px;
  margin-left: 20px;
  
}
.comapnyname{
margin-left: 20px;
margin-top: 10px; 
}
.companysetup{
  width: 1000px;
  margin-left: 30px;
}
.jobbs{
  width: 980px;
}
.applicants{
  width: 980px;
}
.postjob{
  width: 980px;
}
.selectcompany{
  margin-top: 60px;
}
.jobdescription{
  width: 830px;

}

  }

