@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: Georgia, serif;

}
.contact{
  margin-left: 560px;
  margin-top: 40px;
  margin-bottom: 40px;

}
.description{
  margin: 0 auto; 
  text-align: justify; 
  word-wrap: break-word;
  overflow-wrap: anywhere;
 }
@media only screen and (max-width: 400px) {
    body {
       
        font-size: 25px;
      }
      .nav-header{
        width: 645px;
       
      }
      
      .login{
        width: 100%;
        margin-left: 142px;
        margin-top: 70px;
        font-size: 30px;
      }
      .singup{
        width: 400px;
        margin-top: 70px;
      margin-left: 125px;
      font-size: large;
      }
      .login-sinup-button{
        margin-right: 15px;
        
      }
      .login-text{
        font-size: 16px;
      }
    .herosection{
        width: 100%;
    margin-left: 120px;
    font-size:medium;
    }
    .herosection p{
        font-size: 18px;
    }
    .category-carousel{
        width: 100%;
        margin-left: 150px;

    }
    .latest-job{
        width: 100%;
        margin-left: 125px;
    }
    .Footers{
      position:relative;
      width: 645px;
      text-align: center;
      justify-content: center;
      font-size: 20px;
    }
    
 
  .social-link {
    margin-left: 65px;
    
  }
 .profile{
  width:505px;
  margin-left: 10px;
  
 }
 .browser{
  margin-left: 20px;
  width: 600px;
 }
 .help{

  width: 650px;
 }
 .about{
width:600px;
margin-left: 20px;
 }
 .browser{
  margin-left: 20px;
  width: 600px;
 }
 .service{
  width: 600px;
 }
 .contact{
  width: 600px;
  margin-left: 24px;
  margin-top: 150px;
  margin-bottom: 40px;
 }
 .contactFooter{
  position: fixed;
  bottom: 0;
}
 .blog{
  width: 600px;

 }
 .termofservices{
  width: 600px;
 }
 .privacy{
  width: 600px;
 }
 .jobs{
  width: 600px;
  
 }
 .jobdescription{
  width: 350px;
  font-size: 16px;
  margin-bottom: 60px;
 }
 .description{
  max-width: 600px;
  margin: 0 auto; 
  text-align: justify; 
  word-wrap: break-word;
  overflow-wrap: anywhere;
 }
 .decriptionbutton{
  position:fixed; 
  bottom:0px;
width: 300px;
  
}
  }

